.App {
  max-width: 80%;
  text-align: center;
  margin: auto;
}
.btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 40px;
}
.btn:hover {
  background-color: rgb(28, 92, 203);
  color: white;
}
.cards-grid {
  display: flex;
  flex-wrap: wrap;

  width: 80%;

  justify-content: center;
}
.card {
  width: 200px;
}
.card img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}
.fornt {
  width: 200px;
}
.back {
  width: 100%;
}
.card .fornt {
  transform: rotateY(90deg);
  position: absolute;
}
.flipped .fornt {
  transform: rotateY(0deg);
  width: 200px;
}
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
  width: 200px;
}
